{% extends 'base.html' %}

{% block content %}


{% for message in get_flashed_messages() %}

<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
    
{% endfor %}





{% if profile.poster_id == current_user.id or current_user.id == 1 %}

<br>
<h1>Upload an OCT</h1>
<br>


<form method="POST" action="{{ url_for('postop1', id=id)}}" enctype="multipart/form-data">
  <input type="file" name="Upload" id="Upload" accept="application/pdf, image/png" multiple>
  <button class="btn btn-dark">Submit</button>
</form>
<br>
<br>
{% for link in list %}

<img src = "{{ link }}" width="200px" height="200px" >

{% endfor %}



<h1>Edit Patient's Data</h1>

<br/>

<div class="box shadow p-3 mb-5 bg-body-grey rounded">

    
    
  <h2>1W Post-Op</h2>


    <form method="POST">
      {{ form.hidden_tag() }}

      
{{ form.date3.label(class="form-label") }}

{{ form.date3(class="form-control") }}

<br/>


{{ form.bcva2.label(class="form-label") }}

{{ form.bcva2(class="form-control", placeholder="XX/YY") }}
{% if form.bcva2.errors %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  {% for error in form.bcva2.errors %}
        <li>{{ error }}</li>
    {% endfor %}
</div>
{% endif %}
<br/>


{{ form.iop2.label(class="form-label") }}

{{ form.iop2(class="form-control") }}

<br/>

</div>


<div class="box shadow p-3 mb-5 bg-body-grey rounded">
  {{ form.submit(class="btn btn-dark") }}
      
  </form>
  <a href="{{ url_for('profile', id=id) }}" class="btn btn-dark">Back To Profile</a>
  <a href="{{ url_for('preop2', id=id) }}" class="btn btn-dark">To Pre-Op II</a>
  <a href="{{ url_for('postop2', id=id) }}" class="btn btn-dark">To 1M Post-Op</a>

</div>
{% endif %}


{% endblock %}