
{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}

<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
    
{% endfor %}


<h1>Edit Patient Data</h1>

<br/>

  <div class="shadow p-3 mb-5 bg-body-tertiary rounded">

    
    
      <h2>Patient's Study Identifiers </h2>


        <form method="POST">
          {{ form.hidden_tag() }}

          
          
          {{ form.dateofbirth.label(class="form-label") }}

          {{ form.dateofbirth(class="form-control") }}

          <br/>

          {{ form.firstandlast.label(class="form-label") }}

          {{ form.firstandlast(class="form-control") }}

          <br/>
 
  </div>


  

<div class="shadow p-3 mb-5 bg-body-tertiary rounded">


  <h2>Baseline Visit </h2>

  {{ form.age.label(class="form-label") }}

  {{ form.age(class="form-control") }}

  <br/>


    
  {{ form.gender.label(class="form-label") }}

  {{ form.gender(class="form-control") }}

  <br/>


  {{ form.laterality.label(class="form-label") }}

  {{ form.laterality(class="form-control") }}

  <br/>

  {{ form.date1.label(class="form-label") }}

  {{ form.date1(class="form-control") }}

  <br/>

  {{ form.fovea_status.label(class="form-label") }}

  {{ form.fovea_status(class="form-control") }}

  <br/>

  
  {{ form.shadow.label(class="form-label") }}

  {{ form.shadow(class="form-control") }}

  <br/>

  
  {{ form.involved.label(class="form-label") }}

  {{ form.involved(class="form-control") }}

  <br/>

  {{ form.lens_status.label(class="form-label") }}

  {{ form.lens_status(class="form-control") }}

  <br/>

  {{ form.extent.label(class="form-label") }}

  {{ form.extent(class="form-control") }}

  <br/>


  {{ form.area.label(class="form-label") }}

  {{ form.area(class="form-control") }}

  <br/>


  {{ form.detached.label(class="form-label") }}

  {{ form.detached(class="form-control") }}

  <br/>


  {{ form.attached.label(class="form-label") }}

  {{ form.attached(class="form-control") }}

  <br/>


  {{ form.size.label(class="form-label") }}

  {{ form.size(class="form-control") }}

  <br/>


  {{ form.bcva.label(class="form-label") }}

  {{ form.bcva(class="form-control") }}

  <br/>


  {{ form.iop.label(class="form-label") }}

  {{ form.iop(class="form-control") }}

  <br/>


  {{ form.pvd.label(class="form-label") }}

  {{ form.pvd(class="form-control") }}

  <br/>

  {{ form.pvr.label(class="form-label") }}

  {{ form.pvr(class="form-control") }}

  <br/>

  {{ form.hemorrhage.label(class="form-label") }}

  {{ form.hemorrhage(class="form-control") }}

  <br/>
</div>



  
<div class="shadow p-3 mb-5 bg-body-tertiary rounded">


  <h2>Procedure Visit </h2>

  {{ form.date2.label(class="form-label") }}

  {{ form.date2(class="form-control") }}

  <br/>


    
  {{ form.type.label(class="form-label") }}

  {{ form.type(class="form-control") }}

  <br/>


  {{ form.combined.label(class="form-label") }}

  {{ form.combined(class="form-control") }}

  <br/>

  {{ form.cryo.label(class="form-label") }}

  {{ form.cryo(class="form-control") }}

  <br/>

  {{ form.laser.label(class="form-label") }}

  {{ form.laser(class="form-control") }}

  <br/>

  {{ form.tech.label(class="form-label") }}

  {{ form.tech(class="form-control") }}

  <br/>

  {{ form.tamp.label(class="form-label") }}

  {{ form.tamp(class="form-control") }}

  <br/>

  {{ form.pfo.label(class="form-label") }}

  {{ form.pfo(class="form-control") }}

  <br/>


  {{ form.found.label(class="form-label") }}

  {{ form.found(class="form-control") }}

  <br/>

</div>

<div class="shadow p-3 mb-5 bg-body-tertiary rounded">


  <h2>Single procedure anatomical Success</h2>


  {{ form.acheive.label(class="form-label") }}

  {{ form.acheive(class="form-control") }}

  <br/>

</div>


<div class="shadow p-3 mb-5 bg-body-tertiary rounded">


<h2>1 week</h2>

{{ form.date3.label(class="form-label") }}

{{ form.date3(class="form-control") }}

<br/>


{{ form.bcva2.label(class="form-label") }}

{{ form.bcva2(class="form-control") }}

<br/>


{{ form.iop2.label(class="form-label") }}

{{ form.iop2(class="form-control") }}

<br/>


</div>



<div class="shadow p-3 mb-5 bg-body-tertiary rounded">


<h2>1 month</h2>

{{ form.date4.label(class="form-label") }}

{{ form.date4(class="form-control") }}

<br/>


{{ form.bcva3.label(class="form-label") }}

{{ form.bcva3(class="form-control") }}

<br/>


{{ form.iop3.label(class="form-label") }}

{{ form.iop3(class="form-control") }}

<br/>

</div>


<div class="shadow p-3 mb-5 bg-body-tertiary rounded">


<h2>3 months</h2>


{{ form.date5.label(class="form-label") }}

{{ form.date5(class="form-control") }}

<br/>


{{ form.lens_status2.label(class="form-label") }}

{{ form.lens_status2(class="form-control") }}

<br/>


{{ form.bcva4.label(class="form-label") }}

{{ form.bcva4(class="form-control") }}

<br/>


{{ form.iop4.label(class="form-label") }}

{{ form.iop4(class="form-control") }}

<br/>


{{ form.m_charth.label(class="form-label") }}

{{ form.m_charth(class="form-control") }}

<br/>


{{ form.m_chartv.label(class="form-label") }}

{{ form.m_chartv(class="form-control") }}

<br/>


{{ form.ask.label(class="form-label") }}

{{ form.ask(class="form-control") }}

<br/>


{{ form.questionnaire.label(class="form-label") }}

{{ form.questionnaire(class="form-control") }}

<br/>

</div>

<div class="shadow p-3 mb-5 bg-body-tertiary rounded">


<h2>6 months</h2>


{{ form.date6.label(class="form-label") }}

{{ form.date6(class="form-control") }}

<br/>


{{ form.lens_status3.label(class="form-label") }}

{{ form.lens_status3(class="form-control") }}

<br/>


{{ form.bcva5.label(class="form-label") }}

{{ form.bcva5(class="form-control") }}

<br/>


{{ form.iop5.label(class="form-label") }}

{{ form.iop5(class="form-control") }}

<br/>


{{ form.m_charth2.label(class="form-label") }}

{{ form.m_charth2(class="form-control") }}

<br/>


{{ form.m_chartv2.label(class="form-label") }}

{{ form.m_chartv2(class="form-control") }}

<br/>


{{ form.ask2.label(class="form-label") }}

{{ form.ask2(class="form-control") }}

<br/>


{{ form.questionnaire2.label(class="form-label") }}

{{ form.questionnaire2(class="form-control") }}

<br/>

</div>



<div class="shadow p-3 mb-5 bg-body-tertiary rounded">


<h2>12 months</h2>


{{ form.date7.label(class="form-label") }}

{{ form.date7(class="form-control") }}

<br/>


{{ form.lens_status4.label(class="form-label") }}

{{ form.lens_status4(class="form-control") }}

<br/>


{{ form.bcva6.label(class="form-label") }}

{{ form.bcva6(class="form-control") }}

<br/>


{{ form.iop6.label(class="form-label") }}

{{ form.iop6(class="form-control") }}

<br/>


{{ form.m_charth3.label(class="form-label") }}

{{ form.m_charth3(class="form-control") }}

<br/>


{{ form.m_chartv3.label(class="form-label") }}

{{ form.m_chartv3(class="form-control") }}

<br/>


{{ form.ask3.label(class="form-label") }}

{{ form.ask3(class="form-control") }}

<br/>


{{ form.questionnaire3.label(class="form-label") }}

{{ form.questionnaire3(class="form-control") }}

<br/>

</div>

<div class="shadow p-3 mb-5 bg-body-tertiary rounded">
  
          {{ form.submit(class="btn btn-secondary") }}
      
        </form>
<a href="{{ url_for('posts') }}" class="btn btn-secondary">Back To Posts</a>

</div>


</br></br>
</br></br>


{% endblock %}

